* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-weight: 400;
    width: 100%;
    background: #000;
    font-family: 'Lato', Helvetica, Arial;
    font-size: 15px;
    margin: 0;
    overflow-x: hidden;
    
}
body::-webkit-scrollbar {
    width: 8px;
  
}

body::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 0, 0.311);
    border-radius: 10px;
}

*, html {
    --primaryGradient: linear-gradient(93.12deg, #981b1b 0.52%, #e71d1d 100%);
    --secondaryGradient: linear-gradient(268.91deg, #981b1b -2.14%, #e71d1d 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #981b1b;
}

.logo{
    color: white;
    font-size: 28px;
    margin-right: 20.50%;
    padding-top: 0.9%;
    font-family: 'Josefin Sans', sans-serif;
}

span{
    color: #ffffff;
}

nav{
    display: flex;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    background: black;
    padding-bottom: 0.50%;
    margin-top: 0.1%;
    margin-bottom: 0.9%;

}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    padding-top: 4.5%;
    margin-top: 0.4%;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: #ea1538;
    transition: .3s;
}

button{
    border: none;
    background: #ea1538;
    justify-content: space-between;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    margin-right: 1%;
    margin-top: 0.8%;
}



button:hover{
    transform: scale(1.3);
    cursor: pointer;
}

button, a{
    text-decoration: none;
    color: white;
}

.inicio {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url("https://raw.githubusercontent.com/briancodex/react-restaurant-website-v1/main/src/images/pizza-1.jpg") center no-repeat;
    background-size: cover;
    font-family: 'Lato', Helvetica, Arial;
    font-size: 15px;
    margin: 0;
    display: flex;
}



.carrinho-menu {
    display: flex;
    justify-content: end;
}

.models {
    display: none;

}

.menu-openner {
    position: absolute;
    display: flex;
    background-color: #ea1538;
    align-items: center;
    font-size: 26px;
    padding: 10px 10px;
    border-radius: 20px 20px 20px 20px ;
    cursor: pointer;
    margin-left: 85%;
    margin-bottom: 15%;
    margin-top: 0.2%;
}

.Conteudo {
    width: 57% !important;
    align-items: center;
    margin-bottom: 150px;

}

.Conteudo h2 {
    color: rgb(255, 255, 255);
    font-size: 26px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;

}

header {
    margin: auto;
}

header h1 {
    color: rgb(255, 255, 255);
    font-size: 70px;
    text-align: left;
    border-bottom: 3px inset #d32f2f;

}
.img-pizza {
    position: absolute;
    top: 58%;
    left: 75%;
    width: 600px;
    height: 600px;
    transform: translate(-50%, -50%) rotate(-25deg);
    animation: move 2s infinite alternate ease-in-out;
}

@keyframes move {
    from {
        transform: translate(-50%, -55%) rotate(-25deg);
    }
}
@keyframes movee {
    from {
        transform: translate(-50%, -55%);
    }
}

.vermenu {

    text-decoration: none;
    text-align: center;
    cursor: pointer;
    padding: 15px 50px;
    border-radius: 8px;
    color: #ffffff;
    background: #ff0000;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

.vermenu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #ffffff;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.vermenu:hover {
    color: #e8e8e8;
}

.vermenu:hover::before {
    width: 100%;
}


.menu-openner span {
    margin-right: 10px;
    color: white;
}

.menu-closer {
    width: 32px;
    height: 32px;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

aside {
    background: rgb(61 60 60 / 59%);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 0vw;
    font-family: 'Hepta Slab', Helvetica, Arial;
    transition: all ease .2s;
    overflow-y: hidden;
    display: none;
    position: fixed;
    z-index: 2;
    height: 100vh;

}

aside.show {
    width: 30vw;
}

.desk {
    background: rgb(61 60 60 / 59%);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 0vw;
    font-family: 'Hepta Slab', Helvetica, Arial;
    transition: all ease .2s;
    overflow-y: hidden;
    display: none;
    position: fixed;

    z-index: 2;
    height: 100vh;
}

.desk.show {
    width: 30vw;
} 


.cart--area {
    margin-top: 30px;
    padding: 20px;
    width: 100%;
}

.cart--area h1 {
    display: relative;
    color: white;
}

main {
    flex: 1;
    padding: 20px;
    margin-top: 60px;

}

h1,
h2 {
    font-family: 'Hepta Slab', Helvetica, Arial;
    text-align: center;
}

#PizzasProntas{
color: white ;
margin-bottom: 50px;
}

.pizza-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.pizza-item {
    text-align: center;
    max-width: 250px;
    font-family: 'Hepta Slab', Helvetica, Arial;
    margin: 0 auto 50px auto;
}

.pizza-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.pizza-item--img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
}

.pizza-item--img img {
    width: 100%;
    height: auto;
}

.pizza-item--add {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #ff0000;
    text-align: center;
    color: #FFF;
    font-size: 22px;
    cursor: pointer;
    margin-top: -25px;
    transition: all ease .2s;
    border: 2px solid;
}

.pizza-item a:hover .pizza-item--add {
    background-color: #ff7474;
}

.pizza-item--price {
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-top: 5px;
}

.pizza-item--name {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-top: 5px;
}

.pizza-item--desc {
    font-size: 13px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

.pizzaWindowArea {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.pizzaWindowBody {
    width: 900px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 0px 15px #999;
    display: flex;
    margin: 20px 0px;
}

.pizzaBig {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pizzaBig--back {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #000;
}

.pizzaBig img {
    height: 400px;
    width: auto;
}

.pizzaInfo {
    flex: 1;
    font-family: 'Hepta Slab', Helvetica, Arial;
    padding-bottom: 50px;
}

.pizzaInfo h1 {
    color: white;
    margin-top: 50px;
}

.pizzaInfo .pizzaInfo--desc {
    font-size: 15px;
    color: #999;
    margin-top: 10px;
    font-family: 'Lato', Helvetica, Arial;
}

.pizzaInfo--sector {
    color: #CCC;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.pizzaInfo--sizes {
    display: inline-flex;
    border-radius: 10px;
    overflow: hidden;
}

.pizzaInfo--size {
    padding: 10px 15px;
    color: #000 !important;
    background-color: #EEE;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.pizzaInfo--size:hover {
    background-color: #CCC;
}

.pizzaInfo--size.selected {
    background-color: #f70c0c;
    color: #FFF;
}

.pizzaInfo--size.selected span {
    color: #D6D6D6;
}

.pizzaInfo--size span {
    font-size: 12px;
    color: rgb(0, 0, 0) !important;
    font-weight: normal;
}

.pizzaInfo--price {
    display: flex;
    align-items: center;
}

.pizzaInfo--actualPrice {
    font-size: 28px;
    margin-right: 30px;
    color: white;
}

.pizzaInfo--qtarea {
    display: inline-flex;
    background-color: #EEE;
    border-radius: 10px;
    height: 30px;
}

.pizzaInfo--qtarea button {
    border: 0;
    background-color: transparent;
    font-size: 17px;
    outline: 0;
    cursor: pointer;
    padding: 0px 10px;
    color: #333 !important;
}

.pizzaInfo--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color: #000 !important;
}

.pizzaInfo--addButton {
    margin-top: 30px;
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #48d05f;
    color: #FFF;
    display: inline-block;
    cursor: pointer;
    margin-right: 30px;
}

.pizzaInfo--addButton:hover {
    background-color: #32a345;
}

.pizzaInfo--cancelButton {
    display: inline-block;
    cursor: pointer;
}

.pizzaInfo--cancelButton:hover {
    background-color: #ff0000;
    padding: 20px 30px;
    border-radius: 20px;
}

.pizzaInfo--cancelMobileButton {
    display: none;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 30px;
}

.cart {
    margin-bottom: 20px;
    color: white;
}
.cart--details{
    color: white;
}

.cart--item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.cart--item img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.cart--item-nome {
    flex: 1;
}

.cart--item--qtarea {
    display: inline-flex;
    background-color: #EEE;
    border-radius: 10px;
    height: 30px;
}

.cart--item--qtarea button {
    border: 0;
    background-color: transparent;
    font-size: 17px;
    outline: 0;
    cursor: pointer;
    padding: 0px 10px;
    color: #333 !important;
}

.cart--item--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color: #000 !important;
}

.cart--totalitem {
    padding: 15px 0;
    border-top: 1px solid #ffffff;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.cart--totalitem span:first-child {
    font-weight: bold;
}

.cart--totalitem.big {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.cart--finalizar {
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #48d05f;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    border: 2px solid #63f77c;
    transition: all ease .2s;
}

.cart--finalizar:hover {
    background-color: #35af4a;
}
.vermenumobile{
    display: none;
}
.vermenumobile img{
    width: 50px;
    height: 50px;
    margin: 20px 60px 0px auto;
    filter: invert(1);
    transform: translate(-50%, 50%);
    animation: movee 2s infinite  ease-in-out;
    }


@media (max-width:1000px) {
    .pizza-area {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:840px) {
    body {
        flex-direction: column;
        overflow-x: hidden;
    }

    .pizza-area {
        display: block;
    }

    .pizza-item {
        max-width: 100%;
    }

    header {
        display: flex;
        justify-content: center;
    }

    aside {
        width: auto;
        position: fixed;
        left: 100vw;
        right: 0;
        top: 0;
        bottom: 0;
        transition: all ease .2s;
    }

    aside.show {
        width: auto;
    }

    .cart--area {
        width: 100vw;
    }

    .menu-closer {
        display: block;
    }

    .pizzaWindowArea {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .pizzaWindowBody {
        width: 100vw;
        display: block;
        padding: 20px;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
    }

    .pizzaBig img {
        width: 75%;
        height: auto;
    }

    .pizzaInfo h1 {
        margin-top: 20px;
    }

    .pizzaInfo--qtarea {
        height: 60px;
    }

    .pizzaInfo--qtarea button {
        font-size: 25px;
        padding: 0px 25px;
    }

    .pizzaInfo--qt {
        line-height: 60px;
        font-size: 20px;
    }

    .pizzaInfo--addButton {
        font-size: 20px;
        display: block;
        text-align: center;
        margin: 30px auto;
    }

    .pizzaInfo--cancelButton {
        display: none;
    }

    .pizzaInfo--cancelMobileButton {
        display: block;
    }

}

@media (max-width:450px) {
    header h1 {
        font-size: 1.5rem;
        margin-top: 200px;
    }

    .menu-openner {
        font-size: 1.5rem;
        position: fixed;
    }
}

@media (max-width:380px) {
    header h1 {
        font-size: 1rem;
    }
    .vermenu{
        display: none;
    }
    .vermenumobile{
    display: flex;
    }

    .menu-openner {
        font-size: 1.5rem;
        position: fixed;
        z-index: 1
    }
    .img-pizza {
        position: absolute;
        top: 29%;
        left: 49%;
        width: 300px;
        height: 300px;
        transform: translate(-50%, -50%) rotate(-25deg);
        animation: move 2s infinite alternate ease-in-out;
}
.Conteudo h2 {
    font-size: 26px;
    text-align: left;
    margin-top: 10px;
}
.Conteudo {
    width: 57% !important;
    align-items: center;
    margin-top: 100px;
}
}

#img-logo {
    width: 50px;
}


/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: rgb(238, 238, 238);
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;

}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
    background: #f9f9f9;
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/*FOOTER DA PAGINA*/

footer{
    border-top: 1px solid #2d2d2d;
    bottom: 0px;
    width: 100%;
    background: #111;
    color: #d9d9d9;
  }
  
  .main-content{
    display: flex;
    margin-bottom: 50px;
  }
  
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  
  .box h2{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .box .content{
    margin: 20px 0 0 0;
    position: relative;
  }
  
  .box .content:after{
    position: absolute;
    content: '';
    width: 15%;
    height: 2px;
    background: #d32f2f;
    top: -10px;
  }
  
  .box .content:before{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background: #1a1a1a;
    top: -10px;
  }
  
  .left .content .social{
    margin: 35px 0 0 45px;
  }
  
  .left .content .social a{
    padding: 0 5px;
  }
  
  .left .content .social a span{
    width: 80px;
    height: 80px; 
    background: #1a1a1a;
    margin-left: 9px;
    text-align: center;
    line-height: 78px;
    border-radius: 50%;
    font-size: 30px; 
    transition: 0.3s;
    color: #fff;
  }
  
  .left .content .social a span:hover{
    background: #d32f2f;
  }
  
  .content-p{
    text-align: center;
    font-weight: bold;
  }
  
  .center .content .fas{
    font-size: 23px;
    background: #1a1a1a;
    width: 45px;
    height: 45px ;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .center .content .fas:hover{
    background: #d32f2f;
  }
  
  .center .content .text{
    font-size: 17px;
    font-weight: 500;
    padding-left: 10px;
  }
  
  .center .content .telefone{
    margin: 10px 0;
  }
  
  .center .content .email{
    margin-top: 10px;
  }
  
  
  .right .content .fas{
    font-size: 23px;
    background: #1a1a1a;
    width: 45px;
    height: 45px ;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .right .content .fas:hover{
    background: #d32f2f;
  }
  
  .right .content .text{
    font-size: 17px;
    font-weight: 500;
    padding-left: 10px;
  }
  
  .right .content .endereco{
    margin: 10px 0;
  }
  
  .right .content .cep{
    margin-top: 10px;
  }
  
  .bottom .center{
    padding: 5px;
    font-size: 15px;
    background: #1e1e1ea1;
    text-align: center;
  }
  
  .bottom .center span{
    color: #656565;
  }
  
  .bottom .center a{
    color: #d32f2f;
    text-decoration: none;
  }
  
 