.fundosb{
    background: linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url("https://raw.githubusercontent.com/briancodex/react-restaurant-website-v1/main/src/images/pizza-1.jpg") center no-repeat;
    background-size: cover;
    padding: 20px;
}
  


section{
    justify-content: center;
    align-items: center;
    display:grid ;
    grid-template-columns: repeat(4, 300px);
    grid-auto-rows: auto;
    grid-gap: 2rem;
}
.corpo{
    padding: 50px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.txtPt{
    padding: 50px;
    color: white;
}
.card {
    border-radius: 20px;
    width: 190px;
    height: 254px;
    position: relative;
    outline: .2em solid #f5f5f5;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(253,45,45,1) 100%);
   }
   
   .card::before {
    border-radius: 20px;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    background-color: rgba(80, 44, 44, 0);
    transition: background-color 1s;
   }
   
   .card-info {
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 1.5em;
    text-align: center;
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
   }
   
   .card-bio {
    padding: 1.8em;
    text-align: center;
    transform: translate(100%,40%);
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
   }
   
   .card-bio p {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5em;
   }
   
   
   /*Text*/
   .title {
    font-size: 1.3em;
    font-weight: bold;
   }
   
   .title::after {
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    margin: 0 auto 4%;
    background-color: #000;
   }
   
   .subtitle {
    font-weight: 400;
    line-height: 1em;
   }
   
   
   
   /*Hover*/
   .card:hover::before {
    background-color: rgba(80, 44, 44, 0.25);
   }
   
   .card:hover .card-info {
    transform: translateX(-100%);
   }
   
   .card:hover .card-bio {
    transform: translate(0,40%);
    opacity: 1;
   }
   
   
.card1{
background-image: url("https://media.istockphoto.com/vectors/cartoon-pizza-chef-character-mascot-vector-id892060088?k=6&m=892060088&s=170667a&w=0&h=mTQPxe_p6H3cAygvVMEcu8TjBIwY_uCGvAeU7Nfh04M=");
background-size: contain;
   }
.card2{
    background-image: url("https://media.istockphoto.com/vectors/cartoon-pizza-chef-character-mascot-vector-id892060088?k=6&m=892060088&s=170667a&w=0&h=mTQPxe_p6H3cAygvVMEcu8TjBIwY_uCGvAeU7Nfh04M=");
    background-size: contain;
}
.card3{
    background-image: url("https://media.istockphoto.com/vectors/cartoon-pizza-chef-character-mascot-vector-id892060088?k=6&m=892060088&s=170667a&w=0&h=mTQPxe_p6H3cAygvVMEcu8TjBIwY_uCGvAeU7Nfh04M="); 
    background-size: contain;
}
.card4{
    background-image: url("https://media.istockphoto.com/vectors/cartoon-pizza-chef-character-mascot-vector-id892060088?k=6&m=892060088&s=170667a&w=0&h=mTQPxe_p6H3cAygvVMEcu8TjBIwY_uCGvAeU7Nfh04M=");
    background-size: contain;
}
.card5{
    background-image: url("https://media.istockphoto.com/vectors/cartoon-pizza-chef-character-mascot-vector-id892060088?k=6&m=892060088&s=170667a&w=0&h=mTQPxe_p6H3cAygvVMEcu8TjBIwY_uCGvAeU7Nfh04M=");
    background-size: contain;
}
.card6{
    background-image: url("https://media.istockphoto.com/vectors/cartoon-pizza-chef-character-mascot-vector-id892060088?k=6&m=892060088&s=170667a&w=0&h=mTQPxe_p6H3cAygvVMEcu8TjBIwY_uCGvAeU7Nfh04M=");
    background-size: contain;
}
.card7{
    background-image: url("https://media.istockphoto.com/vectors/cartoon-pizza-chef-character-mascot-vector-id892060088?k=6&m=892060088&s=170667a&w=0&h=mTQPxe_p6H3cAygvVMEcu8TjBIwY_uCGvAeU7Nfh04M=");
    background-size: contain;
}

.firstAnimation{

    display: flex;
    margin: 0 auto;
justify-content: center;
}
.cardsb {
    
    width: 1200px;
    height: 254px;
    background: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
  }

  .cardsb h2{
    padding-top: 40px;
    align-items: center;
    color: white;
  }

  .cardsb:hover {
    text-align: center;
    width: 1200px;
    height: 254px;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 20px;
    background-color: #ff0000;
    transition: all .5s;
    padding: 20px;
    color: white;
  }
  
  .secondAnimation {
    --hoverContorno: #959595;
  }
  
  .secondAnimation:hover,
  .secondAnimation:focus {
    -webkit-animation: cardAnimacion 1.4s;
    animation: cardAnimacion 1.4s;
    box-shadow: 0 0 0 0.8em rgba(255, 255, 255, 0);
    border-radius: 20px;
  }
  
  @-webkit-keyframes cardAnimacion {
    0% {
      box-shadow: 0 0 0 0 var(--hoverContorno);
    }
  }
  
  @keyframes cardAnimacion {
    0% {
      box-shadow: 0 0 0 0 var(--hoverContorno);
    }
  }
  